// Global site tag (gtag.js) - Google Analytics
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-113941101-1")
script(src="google-analytics/google-analytics.js")
meta(charset="UTF-8") 
meta(name="viewport", content="width=device-width, initial-scale=1.0")  
meta(name="format-detection", content="telephone=no")
meta(name="description" content="Подарки к 14 февраля в Сургуте. Подарки для любимых. Уникальные подарки ручной работы, сладкие подарки, пряники. Подарки в Сургуте для мужчин. Подарки в Сургуте для женщин. Лучшие цены и уникальное качество!")
meta(name="keywords" content="Подарки в Сургуте, 14 февраля, подарки, для мужчин, для женщин, для любимых, пряники, уникальные подарки, необычные подарки")
meta(property="og:title" content="Подарки к любым праздникам в Сургуте")
meta(property="og:image" content="http://xn----7sbkbvlzhmdkokc.xn--p1ai/img/prev.png")
meta(property="og:description" content="Подарки, конфеты и пряники ручной работы, букеты из конфет, подарочные наборы, мёд-суфле и т.д.")
title Подарки к 14 февраля в Сургуте
//- // [if IE]> <link rel="shortcut icon" href="img/favicons/favicon.ico"><![endif]
link(rel="icon" href="img/favicon.png" type="image/png")
//- link(rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png")
link(href="https://fonts.googleapis.com/css?family=Marmelad|Open+Sans:400,700&amp;subset=cyrillic", rel="stylesheet")
link(rel="stylesheet", href="libs/libs.css")
link(rel="stylesheet", href="css/style.css")