//- Block - Menu
section.menu
	div.menu__container
		ul.menu__list
			//- a.menu__item(href="podarki-14-fev.html") 14 февраля
			li 
				a.menu__item(href="podarki-23-fev.html") 23 февраля
			li
				a.menu__item(href="podarki-8-march.html") 8 марта
			li
				a.menu__item(href="podarki-rychnaya-rabota.html") Ручная работа
			li
				a.menu__item(href="podarki-nabory.html") Конфеты ручной работы
			li
				a.menu__item(href="podarki-med.html") Мёд-суфле
			li
				a.menu__item(href="#contacts") Контакты