<!DOCTYPE html>
html(lang="ru")
	head
		include includes/head-podarki-8-march.pug
	body
		//- Block - Header
		header.header
			div.header__container
				div.header__head
					a(href="index.html").header__logo-box
						object(type="image/svg+xml", data="img/svg/header-logo.svg")
						span.header__logo-text подарки-сургут.рф
					div.header__phone-box
						object(type="image/svg+xml", data="img/svg/phone.svg")
						a.header__phone(href="tel:+79224240580") +7 (922) 424-05-80
					div.header__adress-box
						object(type="image/svg+xml", data="img/svg/header-shop.svg")
						div.header__adress-text 
							| ТЦ «Никольский»
							br
							| пр-кт Мира 5
					div.header__burger.fade-menu-open
						input.burger-checkbox(type='checkbox')
						span
				div.header__body
					h2.header__title Подарки
					h3.header__subtitle 
						| к любым праздникам 
						br 
						| в Сургуте

		//- Block - Fade-menu
		div.fade-menu
			div.fade-menu__container
				div.fade-menu__close-box.fade-menu-close
					object.fade-menu__close(type="image/svg+xml", data="img/svg/fade-menu-close.svg")
				ul.fade-menu__list
					//- li
					//- 	a.fade-menu__item.fade-menu-close(href="podarki-14-fev.html") Подарки к 14 февраля
					li
						a.fade-menu__item.fade-menu-close(href="podarki-23-fev.html") Подарки к 23 февраля
					li
						a.fade-menu__item.fade-menu__item--active.fade-menu-close(href="podarki-8-march.html") Подарки к 8 марта
					li
						a.fade-menu__item.fade-menu-close(href="podarki-rychnaya-rabota.html") Подарки ручной работы
					li
						a.fade-menu__item.fade-menu-close(href="podarki-nabory.html") Конфеты ручной работы
					li
						a.fade-menu__item.fade-menu-close(href="podarki-med.html") Мёд-суфле
					li
						a.fade-menu__item.fade-menu-close(href="index.html#contacts") Контакты

		//- Block - Menu
		section.menu
			div.menu__container
				div.menu__list
					//- a.menu__item(href="podarki-14-fev.html") 14 февраля
					a.menu__item(href="podarki-23-fev.html") 23 февраля
					a.menu__item(href="podarki-8-march.html") 8 марта
					a.menu__item(href="podarki-rychnaya-rabota.html") Ручная работа
					a.menu__item(href="podarki-nabory.html") Конфеты ручной работы
					a.menu__item(href="podarki-med.html") Мёд-суфле
					a.menu__item(href="index.html#contacts") Контакты

		//- Block - Products
		section.products
			div.products__container
				div.products__title 
					| Выбери свой уникальный подарок 
					br
					| к 8 марта
				div.products__body
					a(href="index.html").products__btn-main << Вернуться на главную
					
					div.products__list
						include mixins/product-default.pug
						+product-8-march('6', 'Пряник "8 марта"', 'Уникальный пряник ручной работы. Вес: 130 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '175')
						+product-8-march('14', 'Пряник "Сердечко"', 'Уникальный пряник ручной работы. Вес: 260 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '305')
						+product-8-march('16', 'Пряничный тортик "Тюльпаны"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-14-fev('1', 'Пряничный тортик "Букет"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-14-fev('22', 'Мягкая игрушка "Клёпа с конфетами"', 'Уникальная мягкая игрушка с конфетами. Вес конфет внутри: 900 гр.', '1 250')
						+product-8-march('40', '8 марта', 'Состав: конфеты с цельным миндалем, шоколадные конфеты с цельным фундуком, шоколадный трюфель, шоколад молочный со злаками, шоколадные конфеты с молочной начинкой, шоколадные конфеты с суфле с курагой и с черносливом, конфеты "птичье молоко", конфеты с печеньем и арахисом, конфеты вафельные с молочной начинкой, шоколадные конфеты со сливочным пралине, картошка, шоколадный батончик, шоколадные конфеты с карамелью. Вес 550 гр', '595')
						+product-8-march('41', 'С праздником весны', 'Состав: конфеты шоколадные с кремовой начинкой ассорти, конфеты с цельным миндалем, конфеты шоколадные с карамелью и бисквитом, злаковые конфеты с курагой и яблоком, конфеты молочно-ирисные с цельным орехом, десерт с кремовой начинкой с фундуком, десерт с кремовой начинкой со сливками. Вес 215 грамм', '220')
						+product-14-fev('2', 'Имбирный пряник "Букет ромашек"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('28', 'Букет из конфет "Ми-ми-мишка"', 'Уникальный конфетный букет ручной работы. Выполнен из самых вкусных конфет и эко материалов', '1 600')
						+product-8-march('1', 'Пряничный тортик "Веточка цветов"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '1 100')
						+product-8-march('35', 'Пряник "Букет тюльпанов"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('23', 'Подарочный набор "Для вдохновения..."', 'Ассорти конфет 350 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье. Производитель: кондитерская фабрика "Акконд""', '370')
						+product-8-march('24', 'Подарочный набор "Сладкая фантазия"', 'Ассорти конфет 350 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье. Производитель: кондитерская фабрика "Акконд"', '370')
						+product-8-march('25', 'Подарочный набор "Для хорошего настроения"', 'Ассорти конфет 500 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье, батончик с кокосом, десерт с кремовой начинкой и орехами. Производитель: кондитерская фабрика "Акконд"', '460')
						+product-8-march('26', 'Подарочный набор "От Всей Души"', 'Ассорти конфет 500 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье, батончик с кокосом, десерт с кремовой начинкой и орехами. Производитель: кондитерская фабрика "Акконд"', '450')
						+product-8-march('36', 'Пряник "Матрешка 8 марта"', 'Уникальный пряник ручной работы. Вес: 260 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '305')
						+product-8-march('37', 'Пряник "Котик с букетом"', 'Уникальный пряник ручной работы. Вес: 260 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '305')
						+product-14-fev('3', 'Имбирный пряник "Букет роз"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('17', 'Пряник "Тюльпаны"', 'Уникальный пряник ручной работы. Вес: 130 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '175')
						+product-8-march('15', 'Пряник "Тюльпан"', 'Уникальный пряник ручной работы. Вес: 130 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '175')
						+product-14-fev('4', 'Имбирный пряник "Букет тюльпанов"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('27', 'Букет из конфет "Весенняя капель"', 'Уникальный конфетный букет ручной работы. Выполнен из самых вкусных конфет и эко материалов', '750')
						+product-8-march('11', 'Пряничный тортик "Цветы в корзине"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-14-fev('5', 'Имбирный пряник "Корзиночка с цветами"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('4', 'Пряник "Праздничные цветы"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('10', 'Пряничный тортик "Цветы"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-14-fev('23', 'Мягкая игрушка  "Пончик"', 'Уникальная мягкая игрушка с конфетами. Вес конфет внутри: 1 000 гр.', '1 380')
						+product-8-march('2', 'Пряник "Веточка цветов"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('20', 'Пряничный тортик ""', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-8-march('3', 'Пряничный тортик "Праздничные цветы"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '1 100')
						+product-8-march('19', 'Пряник "Торжественный праздник"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('5', 'Пряник "С 8 марта"', 'Уникальный пряник ручной работы. Вес: 130 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '175')
						+product-8-march('12', 'Пряничный тортик "Корзина с цветами"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-14-fev('24', 'Мягкая игрушка "Звездный Миша"', 'Уникальная мягкая игрушка с конфетами. Вес конфет внутри: 800 гр.', '1 300')
						+product-14-fev('16', 'Пряник "Ангел с сердцем"', 'Уникальный пряник ручной работы. Вес: 130 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '175')
						+product-8-march('7', 'Пряничный тортик "Бабочки"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-8-march('8', 'Пряник "Мимозы"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('9', 'Пряничный тортик "Зайчик с букетом"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-8-march('13', 'Пряничный тортик "Календарь"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '765')
						+product-8-march('18', 'Пряничный тортик "Торжественный праздник"', 'Уникальный пряничный тортик ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 700 гр. Упаковка: подарочная прозрачная из пластика', '1 100')
						+product-8-march('21', 'Подарочный набор конфет "Трюфель"', 'Ассорти конфет 500 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье, батончик с кокосом, десерт с кремовой начинкой и орехами. Производитель: кондитерская фабрика "Акконд""', '575')
						+product-8-march('22', 'Подарочный набор "От Всего Сердца"', 'Ассорти конфет 700 гр. Шоколадные конфеты с молочным суфле, конфеты вафельные шоколадные, шоколадный батончик с начинкой какао, шоколадные батончик со сливочной начинкой, молочный десерт с клубничной начинкой, шоколадный десерт с кремовой начинкой, шоколадный десерт со сливочным суфле, молочное печенье, батончик с кокосом, десерт с кремовой начинкой и орехами, шоколадные конфеты со сливочным пралине, батончик с орехами, карамелью и нугой. Производитель: кондитерская фабрика "Акконд""', '550')
						+product-8-march('29', 'Имбирный пряник "Букет тюльпанов"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('30', 'Имбирный пряник "Цветочек в горшке"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('31', 'Имбирный пряник "Зайка с цветами"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('32', 'Имбирный пряник "Мишка с цветами"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '235')
						+product-8-march('33', 'Пряник "Котенок 8 марта"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('34', 'Пряник "Тюльпаны в корзинке"', 'Уникальный пряник ручной работы. Начинка: вареное сгущенное молоко с грецким орехом. Вес: 160 гр. Упаковка: подарочная прозрачная из пластика', '405')
						+product-8-march('38', 'Пряник "Бабочка 8 марта"', 'Уникальный пряник ручной работы. Вес: 260 гр. Начинка: вареное сгущенное молоко с грецким орехом. Упаковка: индивидуальная целлофановая', '305')
						+product-8-march('39', 'Имбирный пряник "Сердце с 8 Марта"', 'Уникальный имбирный пряник ручной работы. Вес: 270 гр. Упаковка: индивидуальная целлофановая', '255')
						
						
						

					a(href="index.html").products__btn-main << Вернуться на главную
		
		section.recommendations
			div.recommendations__container
				div.recommendations__title Посмотрите ещё
				div.recommendations__swiper
					div.swiper-wrapper
						//- //- Slide 1
						//- div.swiper-slide.recommendations__slide
						//- 	a.recommendations__category-box.recommendations__category-box--one(href="podarki-14-fev.html")
						//- 		h3.recommendations__category-title
						//- 			| Подарки к
						//- 			br
						//- 			| 14 февраля
						//- 		div.recommendations__category-img-box
						//- 			img(src="img/catalog__img1--480.jpg", alt="category1")
						//- Slide 2
						div.swiper-slide.recommendations__slide
							a.recommendations__category-box.recommendations__category-box--two(href="podarki-23-fev.html")
								h3.recommendations__category-title
									| Подарки к
									br
									| 23 февраля
								div.recommendations__category-img-box
									img(src="img/catalog__img2--480.jpg", alt="category2")
						//- Slide 3
						div.swiper-slide.recommendations__slide
							a.recommendations__category-box.recommendations__category-box--four(href="podarki-rychnaya-rabota.html")
								h3.recommendations__category-title
									| Подарки
									br
									| ручной работы
								div.recommendations__category-img-box
									img(src="img/catalog__img4--480.jpg", alt="category4")
						//- Slide 4
						div.swiper-slide.recommendations__slide
							a.recommendations__category-box.recommendations__category-box--five(href="podarki-nabory.html")
								h3.recommendations__category-title
									| Конфеты
									br
									| ручной работы
								div.recommendations__category-img-box
									img(src="img/catalog__img5--480.jpg", alt="category5")
						//- Slide 5
						div.swiper-slide.recommendations__slide
							a.recommendations__category-box.recommendations__category-box--six(href="podarki-med.html")
								h3.recommendations__category-title
									| Мёд - суфле
								div.recommendations__category-img-box
									img(src="img/catalog__img6--480.jpg", alt="category6")

					div.recommendations__pagination
					div.recommendations__button.recommendations__button--prev
					div.recommendations__button.recommendations__button--next

		//- Block - Footer
		footer.footer
			div.footer__container
				div.footer__text Copyright © все права защищены, 2018.

		div#map.contacts__map.display-none
		
		// Yandex.Metrika counter
		script(type='text/javascript', src="yandex-metrika/yandex-metrika.js")
		noscript
			div
				img(src='https://mc.yandex.ru/watch/46803576', style='position:absolute; left:-9999px;', alt='')
		// /Yandex.Metrika counter
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
		script(src="libs/libs.js")
		script(src="js/index.js")